<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper  namespace="com.mapper.Edu_commentDao">

<resultMap type="Comment" id="CommentMap">
<result  column="comment_id" property="comment_id"/>  
<result  column="p_comment_id"  property="p_comment_id" />
<result  column="content"  property="content" />
<result  column="addtime"  property="addtime" />
<result  column="praise_count"  property="praise_count" />
<result  column="reply_count"  property="reply_count" />
<result  column="type"  property="type" />
	<association column="other_id" property="others_id"
			select="com.mapper.Edu_CourseDao.getCourseByID">
		</association>
<association  column="user_id"  property="users_id"  select="com.mapper.UserDao.getById" >
</association>
</resultMap>
<select id="getcomment" parameterType="int" resultMap="CommentMap">
select * from edu_comment where other_id = #{value } and p_comment_id = 0 
</select>

<insert id="insertComment" parameterType="java.util.Map">
insert into edu_comment(user_id,p_comment_id,content,addtime,other_id,type) values(#{user_id},#{p_comment_id },#{content },#{addtime },#{otherId },#{type })
</insert>


<select id="getcommentpcomm" parameterType="java.util.Map" resultMap="CommentMap">
select * from edu_comment where other_id = #{otherId } and p_comment_id = #{pCommentId }
</select>
</mapper>