<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.mapper.Edu_TeacherDao">
<select id="getAllTeacherBySubjectId" resultType="com.bean.Edu_Teacher">
SELECT name,id from edu_teacher
<!-- 条件是按照专业查询 WHERE id in(SELECT teacher_id FROM edu_course_teacher WHERE course_id=#{id}) -->

</select>

<select id="getAllTeacherByMap" resultType="com.bean.Edu_Teacher" parameterType="java.util.Map">
SELECT DISTINCT teacher.name,teacher.id from edu_course course, edu_teacher teacher,edu_course_teacher ct     
<where>
<if test="0==0">
and course.course_id=ct.course_id
</if>
<if test="0==0">
and  teacher.id= ct.teacher_id 
</if>
<if test="sfid != null and sfid > 0">
and  course.subject_id=#{sfid}
</if>
</where>
</select>
<select id="getTeacherById" resultType="com.bean.Edu_Teacher">
SELECT * from edu_teacher WHERE id in(SELECT teacher_id from edu_course_kpoint WHERE course_id=#{id})
</select>

<select id="getSubjectNextAllTeacher" resultType="com.bean.Edu_Teacher">
SELECT * from edu_teacher WHERE subject_id=(SELECT subject_id from edu_course WHERE COURSE_ID=#{id})
</select>

</mapper>