<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.mapper.Edu_TeacherDao">
<select id="getAllTeacherBySubjectId" resultType="com.bean.Edu_Teacher">
SELECT name,id from edu_teacher
<!-- 条件是按照专业查询 WHERE id in(SELECT teacher_id FROM edu_course_teacher WHERE course_id=#{id}) -->

</select>
</mapper>