<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mapper.Sys_UserDao">
<!-- Sys_User getUserByName(String name); -->
<select id="getUserByName" parameterType="java.lang.String" resultType="com.bean.Sys_User">
SELECT * from sys_user WHERE LOGIN_NAME=#{LOGIN_NAME}
</select>
</mapper>