<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mapper.Sys_UserDao">
<!-- Sys_User getUserByName(String name); -->
<resultMap type="com.bean.Sys_User" id="userMap">
<result column="user_id" property="user_id"/>
<result column="login_name" property="login_name"/>
<result column="login_pwd" property="login_pwd"/>
<result column="user_name" property="user_name"/>
<result column="status" property="status"/>
<result column="last_login_time" property="last_login_time"/>
<result column="last_login_ip" property="last_login_ip"/>
<result column="create_time" property="create_time"/>
<result column="email" property="email"/>
<result column="tel" property="tel"/>
<association property="roel" select="com.mapper.Sys_RoleDao.getRoleByID" column="role_id"></association>
</resultMap>
<select id="getUserByName" parameterType="java.lang.String" resultType="com.bean.Sys_User">
SELECT * from sys_user WHERE LOGIN_NAME=#{LOGIN_NAME}
</select>
<select id="getAllUser" resultMap="userMap" >
SELECT * from sys_user where status!=2
</select>
</mapper>